{% load static %} {% block headerinclude %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- Favicons -->
    <link href="{% static 'img/logo.png' %}" rel="icon">
    <link href="{% static 'img/logo.png' %}" rel="apple-touch-icon">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <!-- main css -->
    <link rel="stylesheet" href="{% static '/css/landingstyle.css' %}" />
    <link rel="stylesheet" href="{% static '/css/rooms-areas.css' %}" />

    <title>Libtech: Rooms</title>
  </head>
  {% endblock headerinclude %} {% block content %}
  <body>
    <div class="container-scroller">
      <!-- NAVBAR START-->
      <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
          <!-- Brand -->
          <a class="navbar-brand" href="{% url 'landing' %}">LibTechº</a>
          <!-- Toggler/collapsibe Button -->
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#collapsibleNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Navbar links -->
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- NAVBAR END -->
      <div class="container-wrapper">
        <div class="content-wrapper">
          <div class="jumbotron jumbotron-fluid">
            <div class="padding row align-items-center">
              <div class="col-12 text-center">
                <h3>Libtech Rooms</h3>
                {%if error_message %}
                <h1>{{error_message}}</h1>
                {% endif%}
                <br /><br />
                <form
                  action="{%url 'add_room'%}"
                  id=""
                  method="post"
                  enctype="multipart/form-data"
                >
                  {% csrf_token %}
                  <div class="col-12 text-center">
                    <div class="row">
                      <div class="col-2">
                        <label for="roomname">Room Name</label>
                      </div>
                      <div class="col-3">
                        <input
                          type="text"
                          name="roomname"
                          id="roomname"
                          class="form-control"
                          placeholder="Please enter a Room Name"
                        />
                      </div>
                      <div class="col-2">
                        <label for="capacity">Capacity</label>
                      </div>
                      <div class="col-3">
                        <input
                          type="text"
                          name="capacity"
                          id="capacity"
                          class="form-control"
                          placeholder="50"
                        />
                      </div>
                      <div class="col">
                        <button class="btn btn-2" type="submit">
                          Add Room
                        </button>
                      </div>
                    </div>
                    <br /><br />
                  </div>
                  {% if room_list %}
                  <div class="container">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Capacity</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for room in room_list%}
                        <tr>
                          <td>{{room.roomName}}</td>
                          <td>{{room.capacity}}</td>
                          <td></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  {%endif%}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!--FOOTER-->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-col">
            <h3>About us</h3>
            <p>
              LibTech is a Library Seat Reservation System Integrated with 360°
              Virtual Tour and Prescriptive Analytics. This aims to minimize
              overcrowding inside the library and choose a spot for the seat or
              discussion rooms conveniently.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-col">
            <h3></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-col">
            <h3>Quick links</h3>
            <ul>
              <li><a href="#home">home</a></li>
              <li><a href="#about">about</a></li>
              <li><a href="#features">features</a></li>
              <li><a href="#team">team</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-col">
            <h3>Follow us</h3>
            <ul>
              <li><a href="#">facebook</a></li>
              <li><a href="#">instagram</a></li>
              <li><a href="#">twitter</a></li>
              <li><a href="#">youtube</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="copyright-text">&copy;2021 @LibTech Website</p>
        </div>
      </div>
    </div>
  </footer>

  <!--FOOTER-->
</html>
{% endblock content %} {% block footerinclude %}
<script></script>
{% endblock footerinclude %}
