/*---------FONTS---------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


/*---------GLOBAL CSS---------*/
:root{
    --main-color: #FF8C00; /**#7857fe**/ 
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d69c;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-000: #ffffff;
    --black-alpha-100: rgba(0,0,0,0.05);
}

/* body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden; overflow-x: hidden; overflow-y: hidden;    
    background-color: #ffffff;
    line-height: 1.5;
}

*{
    margin:0;
    padding: 0;
    outline: none!important;
}*/

img{
    max-width: 100%;
    vertical-align: middle;
}

ul{
    list-style: none;
}

.btn-1{
    background-color: #ffffff;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}

.btn-1:focus{
    box-shadow: var(--shadow-black-300);
}

.btn-1:hover{
    color: #ffffff;
    box-shadow: var(--main-color);
}

.section-padding{
    padding: 80px 0;
}

.section-title{
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 40px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

.section-title h2 span{
    color: var(--main-color);
}

/*---------NAVBAR---------*/
.navbar{
    background-color: transparent;
    /* background-color: #FF8C00; */
    padding: 20px 0;
    transition: all 0.5s ease;
}

.navbar.navbar-shrink{
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    background-color: var(--main-color);
    padding: 10px 0;
}

.navbar > .container{
    padding: 0 15px;
}

.navbar .navbar-brand{
    font-size: 30px;
    color: #111;
    font-weight: bolder;
    text-transform: capitalize;
}

.navbar .nav-item{
    margin-left: 40px;
}

.navbar .nav-item .nav-link{
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}

.navbar .nav-item .nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before{
    transform: scale(1);
}

#nav-btn{
    padding: 8px;
    -webkit-box-shadow: 0 0 5px 2px #C0C0C0;
    -moz-box-shadow: 0 0 5px 2px #C0C0C0;
    box-shadow: 0 0 5px 2px #C0C0C0;
}

#nav-btn.active::before,
#nav-btn.active::before,:hover::before{
    transform: scale(1);
}

/*---------NAVBAR---------*/

body, html{
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    background: url("/static/img/loginbg.jpg") 50% 0 no-repeat fixed;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.title { 
    font-size: 25px;
    font-family: 'Passion One', cursive; 
    font-weight: 100; 
 }

hr{
    width: 10%;
    color: #fff;
 }
 
 .form-group{
    margin-bottom: 15px;
 }
 
 label{
    margin-bottom: 15px;
 }
 
input,
input::-webkit-input-placeholder {
   font-size: 11px;
   padding-top: 3px;
}

/*--------LOGIN-----------*/ 
/* .signin{
    min-height: 100vh;
    padding: 150px 0;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
} */
.main-login{
    background-color: #fff; 
    /*background-image: linear-gradient(to bottom right, #f5ae10, darkorange); */
    
   /* shadows and rounded borders */
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   padding: 8px;
   -webkit-box-shadow: 0 0 5px 2px #C0C0C0;
   -moz-box-shadow: 0 0 5px 2px #C0C0C0;
   box-shadow: 0 0 5px 2px #C0C0C0;
}

.main-center{
    margin-top: 20px;
    margin: 0 auto;
    max-width: 450px;
    padding: 40px 40px;
}

.login-button{
    margin-top: 3px;
    
 }
 
 .login-register{
    font-size: 11px;
    text-align: center;
 }