{% load static %} 
{% block headerinclude %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <!-- Favicons -->
    <link href="{% static 'img/logo.png' %}" rel="icon">
    <link href="{% static 'img/logo.png' %}" rel="apple-touch-icon">
    
    <!-- bootstrap css --> 
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->


    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    
    
 
    <title>Libtech: Dashboard</title> 
</head>
  {% endblock headerinclude %} 

  {% block content %}
  {% if user.is_authenticated and user.is_staff and user.is_superuser %}
  <body>
      <!--SIDE BAR-->
      <!-- <div class="sidebar">
        <div class="logo-details">
          <i class="bx bxl-c-plus-plus icon"></i>
          <div class="logo_name">LibTechº</div>
          <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav-list">
          <li>
            <i class="bx bx-search"></i>
            <input type="text" placeholder="Search..." />
            <span class="tooltip">Search</span>
          </li>
          <li>
            <a data-scroll-nav="0" href="#">
              <i class="bx bx-grid-alt"></i>
              <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
          </li>
          <li>
            <a data-scroll-nav="1" href="#">
              <i class="bx bx-pie-chart-alt-2"></i>
              <span class="links_name">Analytics</span>
            </a>
            <span class="tooltip">Analytics</span>
          </li>
          <li>
            <a data-scroll-nav="2" href="#">
              <i class="bx bx-user-pin"></i>
              <span class="links_name">reservation</span>
            </a>
            <span class="tooltip">reservation</span>
          </li>
          <li>
            <a data-scroll-nav="3" href="#">
              <i class="bx bx-user"></i>
              <span class="links_name">Users</span>
            </a>
            <span class="tooltip">Users</span>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-chat"></i>
              <span class="links_name">Messages</span>
            </a>
            <span class="tooltip">Messages</span>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-cog"></i>
              <span class="links_name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
          </li>
          <li class="profile">
            <div class="profile-details">
              <i class="bx bx-user"></i>
              <div class="name_job">
                <div class="name">{{ user.username }}</div>
                <div class="job">Administrator</div>
              </div>
            </div>
            <a href="{% url 'logout' %}"
              ><i class="bx bx-log-out" id="log_out"></i
            ></a>
          </li>
        </ul>
      </div> -->
      <!--END OF SIDE BAR-->

      {% include 'base/sidebar.html' %}
     

    <!--START OF HOME-SECTION-->
    <section class="home-section">
      <!--START OF CONTENT WRAPPER-->
      <div class="content-wrapper">
        <!--START OF DATASCROLL INDEX-0-->
        <div data-scroll-index="0">
          <!--START OF ROW_1-->
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold"><a href="{%url 'admin-dashboard' %}" style="color:black; 
                    text-decoration: none;">Admin Dashboard</a></h3>
                  <h6 class="font-weight-normal mb-0">
                    Hello {{ user.username }}!
                    <span class="text-primary"> What do you want to do?</span>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="row">
              <div class="col-md-6">
                
                  <h4>Why don't you start here {{ user.username }}</h4>
                
              </div>
               <div class="col-md-3">
                <div class="card">
                  <div class="btn btn-2">
                    <a>View Rooms</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="btn btn-2">
                  <a>View Areas</a>
                </div>
              </div>
              </div> 
            </div>
            
          </div>
          </div> -->
          <!--END OF ROW_1-->

          
          <!--START OF ROW_2-->
          <!-- <div class="row">
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Today's Reservation</p>
                      <p class="fs-30 mb-2">300</p>
                      <p>10.00% (30 days)</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Reservation</p>
                      <p class="fs-30 mb-2">6134</p>
                      <p>22.00% (30 days)</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Number of Cancels</p>
                      <p class="fs-30 mb-2">400</p>
                      <p>2.00% (30 days)</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">Total Number of Users</p>
                      <p class="fs-30 mb-2">6134</p>
                      <p>22.00% (30 days)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg">
                <div class="card-people mt-auto">
                  <img src="{% static 'img/people.svg' %}" />
                  <div class="weather-info">
                    <div class="d-flex">
                      <div>
                        <h2 class="mb-0 font-weight-normal">
                          <i class="bx bx-sun icon"></i>31<sup>C</sup>
                        </h2>
                      </div>
                      <div class="ml-2">
                        <h4 class="location font-weight-normal">Cebu City</h4>
                        <h6 class="font-weight-normal">Philippines</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!--END OF ROW_2-->

          {% include 'base/admin-topnav.html' %}

          <!--START OF USER TABLE-->
          <!-- <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row my-4">
                    <div class="col-md-4">
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div> -->
          <!--END OF USER TABLE-->
        <!-- </div> -->
        <!--END OF DATASCROLL INDEX-0-->

        <div class="row">
          <div class="col-md-6 my-4">
              <div class="bg-white" style="border-radius: 20px;">
                  <div class="card-body">
                      <canvas id="myChart1" width="400" height="300"></canvas>
                      <script>
                          var ctx = document.getElementById('myChart1').getContext('2d');
                          var myChart1 = new Chart(ctx, {
                              type: 'pie',
                              data: {
                                labels: [{% for room in room  %} '{{ room.category }}', {% endfor %}],
                               //labels: ['Red', 'Blue', 'Orange', 'Yellow', 'Black', 'Green'],
                                datasets: [{
                                  label: 'Number of Rooms',
                                    data: [{% for room_type in room_type %} {{ room_type.capacity }}, {% endfor %}],
                                    //data: [1, 2, 3, 5, 4, 6],
                                  backgroundColor: [
                                      'rgba(255, 99, 132, 1)',
                                      'rgba(54, 162, 235, 1)',
                                      'rgba(255, 206, 86, 1)',
                                      'rgba(75, 192, 192, 1)',
                                      'rgba(153, 102, 255, 1)',
                                      'rgba(255, 159, 64, 1)',
                                  ],
                                  borderColor: [
                                      'rgba(255, 99, 132, 1)',
                                      'rgba(54, 162, 235, 1)',
                                      'rgba(255, 206, 86, 1)',
                                      'rgba(75, 192, 192, 1)',
                                      'rgba(153, 102, 255, 1)',
                                      'rgba(255, 159, 64, 1)',
                                  ],
                                      borderWidth: 1
                          }]
                              },
                          options: {
                              scales: {
                                  yAxes: [{
                                      ticks: {
                                          beginAtZero: true
                                      }
                                  }]
                              }
                          }
                          });
                      </script>
                  </div>
              </div>
          </div>
          <div class="col-md-6 my-4">
              <div class="bg-white" style="border-radius: 20px;">
                  <div class="card-body">
                      <canvas id="myChart" width="400" height="300"></canvas>
                      <script>
                          var ctx = document.getElementById('myChart').getContext('2d');
                          var myChart = new Chart(ctx, {
                              type: 'bar',
                              data: {
                                  labels: [{% for seat in seat %} '{{ seat.category }}', {% endfor %}],
                            
                          datasets: [{
                              label: 'Number of Seats',
                              data: [{% for seat_type in seat_type %} {{ seat_type.capacity }}, {% endfor %}],
                             
                              backgroundColor: [
                                  'rgba(255, 99, 132, 1)',
                                  'rgba(54, 162, 235, 1)',
                                  'rgba(255, 206, 86, 1)',
                                  'rgba(75, 192, 192, 1)',
                                  'rgba(153, 102, 255, 1)',
                                  'rgba(255, 159, 64, 1)'
                              ],
                                  borderColor: [
                                      'rgba(255, 99, 132, 1)',
                                      'rgba(54, 162, 235, 1)',
                                      'rgba(255, 206, 86, 1)',
                                      'rgba(75, 192, 192, 1)',
                                      'rgba(153, 102, 255, 1)',
                                      'rgba(255, 159, 64, 1)'
                                  ],
                                      borderWidth: 1
                          }]
                              },
                          options: {
                              scales: {
                                  yAxes: [{
                                      ticks: {
                                          beginAtZero: true
                                      }
                                  }]
                              }
                          }
                          });
                      </script>
                  </div>
              </div>
          </div>
      </div>

        <!--START OF DATASCROLL INDEX-1-->
        <div data-scroll-index="1">
          <!--START OF ROW_3-->
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Reservation Details</p>
                  <p class="font-weight-500">
                    The total number of sessions within the date range. It is
                    the period time a user is actively engaged with your
                    website, page or app, etc
                  </p>
                  <div class="d-flex flex-wrap mb-5">
                    <div class="mr-5 mt-3">
                      <p class="text-muted">Total Hours</p>
                      <h3 class="text-primary fs-30 font-weight-medium">
                        7081 hr
                      </h3>
                    </div>
                    <div class="mr-5 mt-3">
                      <p class="text-muted">Total Reservations</p>
                      <h3 class="text-primary fs-30 font-weight-medium">
                        {{ reservations_count }}
                      </h3>
                    </div>
                    <div class="mr-5 mt-3">
                      <p class="text-muted">Users</p>
                      <h3 class="text-primary fs-30 font-weight-medium">
                        71.56%
                      </h3>
                    </div>
                    <div class="mt-3">
                      <p class="text-muted">Downloads</p>
                      <h3 class="text-primary fs-30 font-weight-medium">
                        2023
                      </h3>
                    </div>
                  </div>
                  <canvas id="order-chart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body pb-0">
                  <div class="d-flex align-items-center mb-4">
                    <p class="card-title mb-0 mr-1">Today's activity</p>
                    <!-- <div class="badge badge-info badge-pill">2</div> -->
                  </div>
                  <div class="d-flex flex-wrap pt-2">
                    <div class="mr-4 mb-lg-2 mb-xl-0">
                      <p>Time On Site</p>
                      <h4 class="font-weight-bold mb-0">77.15 %</h4>
                    </div>
                    <div>
                      <p>Page Views</p>
                      <h4 class="font-weight-bold mb-0">14.15 %</h4>
                    </div>
                  </div>
                </div>
                <canvas
                  height="272"
                  id="activity-chart"
                  width="516"
                  style="display: block; height: 218px; width: 413px"
                  class="chartjs-render-monitor"
                ></canvas>
              </div>
            </div>
          </div>
          <!--END OF ROW_3-->

          
          <!--START OF ROW 4-->
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card position-relative">
                <div class="card-body">
                  <div
                    id="detailedReports"
                    class="
                      carousel
                      slide
                      detailed-report-carousel
                      position-static
                      pt-2
                    "
                    data-ride="carousel"
                  >
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
                          <div
                            class="
                              col-md-12 col-xl-3
                              d-flex
                              flex-column
                              justify-content-start
                            "
                          >
                            <div class="ml-xl-4 mt-3">
                              <p class="card-title">Detailed Reports</p>
                              <h1 class="text-primary">340 hrs</h1>
                              <h3 class="font-weight-500 mb-xl-4 text-primary">
                                Wildcats Cafe
                              </h3>
                              <p class="mb-2 mb-xl-0">
                                The total number of sessions within the date
                                range. It is the period time a user is actively
                                engaged with your website, page or app, etc
                              </p>
                            </div>
                          </div>
                          <div class="col-md-12 col-xl-9">
                            <div class="row">
                              <div class="col-md-6 border-right">
                                <div class="table-responsive mb-3 mb-md-0 mt-3">
                                  <table
                                    class="table table-borderless report-table"
                                  >
                                    <tr>
                                      <td class="text-muted">Cafe I</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div
                                            class="progress-bar bg-primary"
                                            role="progressbar"
                                            style="width: 70%"
                                            aria-valuenow="70"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                          ></div>
                                        </div>
                                      </td>
                                      <td>
                                        <h5 class="font-weight-bold mb-0">
                                          713
                                        </h5>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Snack Bar</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div
                                            class="progress-bar bg-warning"
                                            role="progressbar"
                                            style="width: 30%"
                                            aria-valuenow="30"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                          ></div>
                                        </div>
                                      </td>
                                      <td>
                                        <h5 class="font-weight-bold mb-0">
                                          583
                                        </h5>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">
                                        Individual Seating
                                      </td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div
                                            class="progress-bar bg-danger"
                                            role="progressbar"
                                            style="width: 95%"
                                            aria-valuenow="95"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                          ></div>
                                        </div>
                                      </td>
                                      <td>
                                        <h5 class="font-weight-bold mb-0">
                                          924
                                        </h5>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Dual</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div
                                            class="progress-bar bg-info"
                                            role="progressbar"
                                            style="width: 60%"
                                            aria-valuenow="60"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                          ></div>
                                        </div>
                                      </td>
                                      <td>
                                        <h5 class="font-weight-bold mb-0">
                                          664
                                        </h5>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Group of 4</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div
                                            class="progress-bar bg-primary"
                                            role="progressbar"
                                            style="width: 40%"
                                            aria-valuenow="40"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                          ></div>
                                        </div>
                                      </td>
                                      <td>
                                        <h5 class="font-weight-bold mb-0">
                                          560
                                        </h5>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Group of 6</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div
                                            class="progress-bar bg-danger"
                                            role="progressbar"
                                            style="width: 75%"
                                            aria-valuenow="75"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                          ></div>
                                        </div>
                                      </td>
                                      <td>
                                        <h5 class="font-weight-bold mb-0">
                                          793
                                        </h5>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                              <div class="col-md-6 mt-3">
                                <canvas id="north-america-chart"></canvas>
                                <div id="north-america-legend"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                          <div
                            class="
                              col-md-12 col-xl-3
                              d-flex
                              flex-column
                              justify-content-start
                            "
                          >
                            <div class="ml-xl-4 mt-3">
                              <p class="card-title">Detailed Reports</p>
                              <h1 class="text-primary">$34040</h1>
                              <h3 class="font-weight-500 mb-xl-4 text-primary">
                                North America
                              </h3>
                              <p class="mb-2 mb-xl-0">
                                The total number of sessions within the date
                                range. It is the period time a user is actively
                                engaged with your website, page or app, etc
                              </p>
                            </div>
                          </div>
                          <div class="col-md-12 col-xl-9">
                            <div class="row">
                              <div class="col-md-6 border-right">
                                <div class="table-responsive mb-3 mb-md-0 mt-3">
                                  <table
                                    class="table table-borderless report-table"
                                  >
                                    <tr>
                                      <td class="text-muted">Illinois</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div
                                            class="progress-bar bg-primary"
                                            role="progressbar"
                                            style="width: 70%"
                                            aria-valuenow="70"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                          ></div>
                                        </div>
                                      </td>
                                      <td>
                                        <h5 class="font-weight-bold mb-0">
                                          713
                                        </h5>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Washington</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div
                                            class="progress-bar bg-warning"
                                            role="progressbar"
                                            style="width: 30%"
                                            aria-valuenow="30"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                          ></div>
                                        </div>
                                      </td>
                                      <td>
                                        <h5 class="font-weight-bold mb-0">
                                          583
                                        </h5>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Mississippi</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div
                                            class="progress-bar bg-danger"
                                            role="progressbar"
                                            style="width: 95%"
                                            aria-valuenow="95"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                          ></div>
                                        </div>
                                      </td>
                                      <td>
                                        <h5 class="font-weight-bold mb-0">
                                          924
                                        </h5>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">California</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div
                                            class="progress-bar bg-info"
                                            role="progressbar"
                                            style="width: 60%"
                                            aria-valuenow="60"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                          ></div>
                                        </div>
                                      </td>
                                      <td>
                                        <h5 class="font-weight-bold mb-0">
                                          664
                                        </h5>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Maryland</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div
                                            class="progress-bar bg-primary"
                                            role="progressbar"
                                            style="width: 40%"
                                            aria-valuenow="40"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                          ></div>
                                        </div>
                                      </td>
                                      <td>
                                        <h5 class="font-weight-bold mb-0">
                                          560
                                        </h5>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">Alaska</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div
                                            class="progress-bar bg-danger"
                                            role="progressbar"
                                            style="width: 75%"
                                            aria-valuenow="75"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                          ></div>
                                        </div>
                                      </td>
                                      <td>
                                        <h5 class="font-weight-bold mb-0">
                                          793
                                        </h5>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                              <div class="col-md-6 mt-3">
                                <canvas id="south-america-chart"></canvas>
                                <div id="south-america-legend"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a
                      class="carousel-control-prev"
                      href="#detailedReports"
                      role="button"
                      data-slide="prev"
                    >
                      <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a
                      class="carousel-control-next"
                      href="#detailedReports"
                      role="button"
                      data-slide="next"
                    >
                      <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--END OF ROW_4-->
        </div>
        <!--END OF DATASCROLL INDEX-1-->

        <!--START OF ROW_5-->
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title mb-0">Newly Added Reservation</p>
                <div class="table-responsive">
                  <table class="table table-striped table-borderless">
                    <thead>
                      <tr>
                        <th>Area</th>
                        <th>Time</th>
                        <th>Date</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Discussion Room</td>
                        <td class="font-weight-bold">09:30AM-10:00AM</td>
                        <td>06-25-2021</td>
                        <td class="font-weight-medium">
                          <div class="badge badge-success">Completed</div>
                        </td>
                      </tr>
                      <tr>
                        <td>Wildcats Cafe</td>
                        <td class="font-weight-bold">02:00PM-03:00PM</td>
                        <td>06-25-2021</td>
                        <td class="font-weight-medium">
                          <div class="badge badge-success">Completed</div>
                        </td>
                      </tr>
                      <tr>
                        <td>Discussion Room</td>
                        <td class="font-weight-bold">02:30PM-04:00PM</td>
                        <td>11-24-2021</td>
                        <td class="font-weight-medium">
                          <div class="badge badge-warning">Pending</div>
                        </td>
                      </tr>
                      <tr>
                        <td>Activity Center</td>
                        <td class="font-weight-bold">02:30PM-04:30PM</td>
                        <td>11-24-2021</td>
                        <td class="font-weight-medium">
                          <div class="badge badge-warning">Pending</div>
                        </td>
                      </tr>
                      <tr>
                        <td>Activity Center</td>
                        <td class="font-weight-bold">03:00PM-03:30PM</td>
                        <td>11-25-2021</td>
                        <td class="font-weight-medium">
                          <div class="badge badge-danger">Cancelled</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="card-title">Activity Report</p>
                  <a href="#" class="text-info">View all</a>
                </div>
                <p class="font-weight-500">
                  The total number of sessions within the date range. It is the
                  period time a user is actively engaged with your website, page
                  or app, etc
                </p>
                <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                <canvas id="sales-chart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <!--END OF ROW_5-->
      </div>
      <!--END OF CONTENT WRAPPER-->
    </section>
    <!--END OF HOME-SECTION-->
  </body>
</html>
{% else %}
{% include 'user_dashboard.html' %}
{% endif %}
{% endblock content %} {% block footerinclude %}
<!-- plugins:js -->
<script src="{% static 'js/vendor.bundle.base.js' %}"></script>
<!-- Plugin js for this page -->
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'js/dataTables.select.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- ScrollIt js -->
<script src="{% static 'js/scrollIt.min.js' %}"></script>

<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/admin-dashboard.js' %}"></script>
<script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
<!-- End custom js for this page-->
{% endblock footerinclude %}
