{% load static %} {% block headerinclude %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Libtech: Profile</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicons -->
  <link href="{% static 'img/logo.png' %}" rel="icon">
  <link href="{% static 'img/logo.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap CSS -->
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>

  <!-- Custom CSS Stylesheet (for your changes) and other dependencies-->
  <link rel="stylesheet" href="{% static '/css/profile.css' %}"/>
  <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet"/>
</head>
{% endblock headerinclude %}
{% block content %}
<body>
  {% include 'base/sidebar.html' %}
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!--START OF HOME-SECTION-->
  <section class="home-section">
    <!--START OF CONTENT WRAPPER-->
    <div class="container bootstrap snippets bootdey">
      <div class="row">
        <div class="profile-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img src="{{ user.profile.image.url }}" alt="User Profile Picture"/>
              </a>
              <h1>{{user.username}}</h1>
              <p>{{user.email}}</p>
            </div>

            <ul class="nav nav-pills nav-stacked">
              <li class="active">
                <a href="#"> <i class="fa fa-user"></i> Profile</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-calendar"></i> Recent Activity
                  <span class="label label-warning pull-right r-activity">9</span>
                </a>
              </li>
              <li>
                <a href="{% url 'profile-update' %}">
                  <i class="fa fa-edit"></i> Edit Profile
                </a>
              </li>
              <li>
                <a href="{% url 'settings-account' %}#application">
                  <i class="fa fa-trash"></i> Delete Account
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="profile-info col-md-9">
          <div class="panel">
            <div class="bio-graph-heading">{{user.profile.bio}}</div>

            <div class="panel-body bio-graph-info">
              <h1>Information</h1>
              <div class="row">
                <div class="bio-row">
                  <p><span>First Name </span>: {{user.first_name}}</p>
                </div>
                <div class="bio-row">
                  <p><span>Last Name </span>: {{user.last_name}}</p>
                </div>
                <div class="bio-row">
                  <p><span>Address </span>: {{user.profile.address}}</p>
                </div>
                <div class="bio-row">
                  <p><span>Account Role </span>: {{user.profile.role}}</p>
                </div>
                <div class="bio-row">
                  <p><span>Birthday</span>: {{user.profile.birthday}}</p>
                </div>
                <div class="bio-row">
                  <p><span>Occupation </span>: {{user.profile.occupation}}</p>
                </div>
                <div class="bio-row">
                  <p><span>Email </span>: {{user.email}}</p>
                </div>
                <div class="bio-row">
                  <p><span>Phone </span>: {{user.profile.phone}}</p>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="row">
              <div class="col-md-6">
                <div class="panel">
                  <div class="panel-body">
                    <div class="bio-chart">
                      <div style="display: inline; width: 100px; height: 100px">
                        <canvas width="100" height="100px"></canvas>
                        <input
                          class="knob panel-green green-text"
                          data-width="100"
                          data-height="100"
                          data-displayprevious="true"
                          data-thickness=".2"
                          value="1"
                          data-fgcolor="#96be4b"
                          data-bgcolor="#e8e8e8"
                        />
                      </div>
                    </div>
                    <div class="bio-desk">
                      <h4 class="green">Current Reservation</h4>
                      <p>Date : October 26, 2021</p>
                      <p>Time : 2:30 - 4:30 PM</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="panel">
                  <div class="panel-body">
                    <div class="bio-chart">
                      <div style="display: inline; width: 100px; height: 100px">
                        <canvas width="100" height="100px"></canvas>
                        <input
                          class="knob panel-blue blue-text"
                          data-width="100"
                          data-height="100"
                          data-displayprevious="true"
                          data-thickness=".2"
                          value="17"
                          data-fgcolor="#4CC5CD"
                          data-bgcolor="#e8e8e8"
                        />
                      </div>
                    </div>
                    <div class="bio-desk">
                      <h4 class="blue">Cancelled Reservations</h4>
                      <p>Lorem : Ipsum</p>
                      <p>Sample : Text</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="panel">
                  <div class="panel-body">
                    <div class="bio-chart">
                      <div style="display: inline; width: 100px; height: 100px">
                        <canvas width="100" height="100px"></canvas>
                        <input
                          class="knob panel-red red-text"
                          data-width="100"
                          data-height="100"
                          data-displayprevious="true"
                          data-thickness=".2"
                          value="35"
                          data-fgcolor="#e06b7d"
                          data-bgcolor="#e8e8e8"
                        />
                      </div>
                    </div>
                    <div class="bio-desk">
                      <h4 class="red">Past Reservations</h4>
                      <p>Sample : Text</p>
                      <p>Lorem : Ipsum</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="panel">
                  <div class="panel-body">
                    <div class="bio-chart">
                      <div style="display: inline; width: 100px; height: 100px">
                        <canvas width="100" height="100px"></canvas>
                        <input
                          class="knob panel-purple purple-text"
                          data-width="100"
                          data-height="100"
                          data-displayprevious="true"
                          data-thickness=".2"
                          value="50"
                          data-fgcolor="#cba4db"
                          data-bgcolor="#e8e8e8"
                        />
                      </div>
                    </div>
                    <div class="bio-desk">
                      <h4 class="purple">Others</h4>
                      <p>Others : 15 July</p>
                      <p>Others : 15 August</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END OF CONTENT WRAPPER-->
  </section>
  <!--END OF HOME-SECTION-->
</body>
</html>
{% endblock content %}
{% block footerinclude %}
<!-- plugins:js -->
<script src="{% static 'js/vendor.bundle.base.js' %}"></script>

<!-- Plugin js for this page -->
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'js/dataTables.select.min.js' %}"></script>

<!-- End plugin js for this page -->
<!-- ScrollIt js -->
<script src="{% static 'js/scrollIt.min.js' %}"></script>

<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>

<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/admin-dashboard.js' %}"></script>
<script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
<!-- End custom js for this page-->
{% endblock footerinclude %}
