{% load static %}
<!-- SEARCHFIELD START -->
 
  <!-- Another variation with a button -->
  <div class="row">
   
      <div class="col-md-2">
        <span class="counter pull-right"></span>
      </div>
      <div class="col-md-12 m-2 pb-4">
        <div class="input-group col-md-5">
            <input type="text" class="search" placeholder="Search here">
            <div class="input-group-append">
              <button class="btn btn-warning" type="button">
                <i class="bx bx-search"></i>
              </button>
            </div>
          </div>
      </div>
  </div>
  <!-- search js -->
<script src="{% static 'js/search.js' %}"></script>
<!-- SEARCHFIELD END -->

